

<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Blog</h1>
  <p class="lead">Este é um blog feito por mim para portfolio.</p>
  <hr class="my-4">
  <p>Blog este feito em node, bootstrap e mongodb.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2>Postagens recentes:</h2>
<div class="card">
  {{#each postagens}}
  <div class="card-body mt-4">
    <h3>{{tituto}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" name="button"class="btn btn-success ">Leia mais</button></a>
    <hr>
    <small>Categoria:{{categoria.nome}}</small><br>
    <small>Data de publicação:{{data}}</small>
  </div>
</div>
{{else}}
<h5>Nenhuma postagem</h5>
{{/each}}
