<h1>{{categoria.nome}}</h1>
  {{#each postagens}}
  <div class="card-body mt-4">
    <h3>{{tituto}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" name="button"class="btn btn-success ">Leia mais</button></a>
    <hr>

    <small>Data de publicação:{{data}}</small
</div>
{{else}}
<h5>Nenhuma postagem</h5>
{{/each}}
